hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#comment-list {
    min-height: 390px;
}

.comment-remove {
    cursor: pointer;
}

.navigation-block {
    display: flex;
    justify-content: space-between;
}

#preloader {
    position: absolute;
    top: 30%;
    left: 40%;
    display: inline-block;
    width: 80px;
    height: 80px;
}

#preloader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #aaaaaa;
    border-color: #aaaaaa transparent #aaaaaa transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}